<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Slides
    </ion-title>
  </ion-toolbar>
  <ion-segment #segments value="1" (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="1">
      <ion-label>Tab 1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Tab 2</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Tab 3</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides #gslides pager="true" [options]="slideOpts" (ionSlideDidChange)="onChangeSlide()">
    <ion-slide style="height: 3000px;">
      <div>
        <h1>Slide 1</h1>
        <p *ngFor="let line of lines">{{line}}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>